fastapi
pydantic
uvicorn
streamlit
langchain
langchain-core
langchain-ollama
langchain-chroma
langchain-text-splitters
langchain-openai
langgraph
streamlit-authenticator
ziko-st-toc
numpy
typing-extensions
